{#
/**
 * @file
 * Default theme implementation for a summary of an Webform email handler.
 *
 * Available variables:
 * - settings: The current configuration for this email handler:
 * - text: The text.
 * - handler: The handler information, including:
 *   - id: The handler plugin id.
 *   - handler_id: The handler id.
 *   - label: The handler label.
 *   - description: The handler description.
 *
 * @ingroup themeable
 */
#}
{% if settings.debug %}<b class="color-error">{{ 'Debugging is enabled'|t }}</b><br/>{% endif %}
<b>{{ 'Queue:'|t }}</b> {{ settings.queue_name }} {{ 'of type '|t }} <em> {{ settings.queue_class }} </em><br/>
